body {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
}

section {
      width: 700px;
      height:450px;
      position: relative;
      overflow: hidden;
      background-image: url("");
      background-size: cover;

}

.navbutton {
      box-sizing: border-box;
      width: 100px;
      height: 450px;
      position: absolute;
      background-color: Transparent;
      border: none;
      padding: 0px;
}

.left {
      left: 0px;
      top: 0px;
      background-image: url("move-to-left.svg");
}

.right {
      left: 600px;
      top: 0px;
      background-image: url("move-to-right.svg");
}

.arrow {
      width: 30px;
}

.navbutton:hover {
      background-color: gray;
      opacity: 0.5;
      cursor:pointer;
}

nav {
      display: flex;
      box-sizing: border-box;
      width: 500px;
      justify-content: space-between;
}

.icon-button {
      width: 80px;
      height: 60px;*/
      background-image: url("") no-repeat;
      background-size: cover;
}
