body {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
}

section {
      width: 600px;
      height:400px;
      position: relative;
      overflow: hidden;
      background-image: url("");
      background-size: cover;

}

.image-list{
      display: flex;
      overflow: hidden;
      padding: 0px;
      margin: 0px;
}

.image {
      height: 400px;
      width: auto;
}

.navbutton {
      box-sizing: border-box;
      /*display: flex;
      justify-content: center;*/
      width: 100px;
      height: 400px;
      position: absolute;
      background-color: Transparent;
      border: none;
      padding: 0px;
}

.left {
      left: 0px;
      top: 0px;
}

.right {
      left: 500px;
      top: 0px;
}

.arrow {
      width: 30px;
      fill: #94d31b;
      opacity: 0;
      background-size: 100px 400px;
}

.arrow:hover {
      opacity: 1;
}

.navbutton:hover {
      background-color: gray;
      opacity: 0.5;
      cursor:pointer;
}

nav {
      display: flex;
      box-sizing: border-box;
      width: 500px;
      justify-content: space-between;
}

.icon-button {
      width: 80px;
      height: 60px;*/
      background-image: url("") no-repeat;
      background-size: cover;
}
