body {
    margin: 0px 50px;
}

h1 {
    color: #0200fc;

}

h2 {
    color: #ffa600;
}

.list {
    color: #0200fc;
    list-style: square;

}

.list2 {
    color: #000000;
    list-style: inside;
    list-style-position: outside;
}

.list3 {
    color: #000000;
}

span {
    color: red;
}
