
body {
      margin: 0px;
      font-family: 'Josefin Sans', sans-serif;
      line-height: 1.5;
      color: rgb(32,32,0);
}
header {
      display: block;
      background-image: url("../img/anakin.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-top: 4px solid black;
      padding: 247px 0px 8px 0px;
      margin-bottom: 60px;
}

hgroup {
      margin: 0px 290px 40px 290px;
      font-family: 'Abril Fatface', cursive;
      line-height: 1;
}

.headh2 {
      margin: 0px;
      text-transform: none;
      font-size: 36px;
}

.headh1 {
      margin: 0px;
      font-size: 72px;
}

.div1 {
      margin: 0px 300px 60px 290px;
      font-size: 20px;
}

h2 {
      text-transform: uppercase;
}

h3 {
      font-size: 20px;
}

span {
      font-weight: bold;
}

li {
      list-style: square;
}

blockquote {
      position: relative;
      margin: 0px 240px 0px 243px;
      padding: 48px;
      color: white;
      font-family: 'Abril Fatface', cursive;
      background-color: rgb(68,68,68);
      font-size: 47px;

}

blockquote::after {
      content: "“";
      font-size: 135px;
      line-height: 0.8;
      margin: 0px;
      position: absolute;
      top: 0;
      left: 0;
}
