body {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #50e3c2;
  font-family: Lato
}

main {
  display: flex;
  flex-shrink: 0.5;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  width: 560px;
  padding: 60px;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  color: #37404d;
  margin: 0px 0px 20px 0px;
  text-align: center;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 60px;
}

#add-text {
  flex-grow: 1;
  flex-shrink: 0.5;
  font-size: 20px;
  font-weight: 300;
  color: #37404d;
}

.add-button {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  background-color: #df69e8;
  border: 1px solid #cecece;
  width: 80px;
  cursor: pointer;
}

ul {
  padding: 0px;
  color: #9b9b9b;
  font-weight: 300;
  list-style: none;
  font-size: 24px;
  line-height: 46px;
}

li {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin: 5px 0px 5px 0px;
}

li input {
  position: absolute;
  z-index: -9999;
}

span {
  width: 18px;
  height: 18px;
  border: 2px #9b9b9b solid;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  padding: 1px;
}

li input:checked + span {
    background-color: #df69e8;
}

label {
  flex-grow: 1;
  flex-shrink: 0.5;
  display: flex;
  justify-content: space-between;;
  height: 30px;
  text-align: justify;
  cursor: pointer;
}

ul button {
  border: 0px;
  padding: 0px;
  width: 30px;
  height: 30px;
  background-color: #f7f7f7;
  background-image: url("img/garbage.svg");
  background-size: cover;
  cursor: pointer;
}
