body {
  font-family: arial;
  color: #7A7A7A;
}

main {

  background-color: #F5F5F5;
  width: 700px;
  height: 390px;
  display: flex;
  flex-direction: column;
  border, padding, margin: 0px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #F5F5F5;
}

.informations {
  height: 340px;
  display: flex;
}

article {
  width: 340px;
}

.actual-track {
  height: 61px;
}

.track-handling {
  display: flex;
  flex-direction: column;
}

.lists-notification{
  display: flex;
  flex-direction: column;
}

.logo-addplaylist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  padding: 15px 0px 0px 15px;
}

.add-playlist {
  position: relative;
}

.add-playlist:before {
  content: "+";
  position:absolute;
  left: 160px;
  top: -5px;
  font-size: 30px;
}

.notification-artwork {
  height: 135px;
  display: flex;

}

#artwork-img {
  height: 135px;
  width: 135px;
}

ol {
  margin: 0px;
  font-size: 12px;
  overflow: scroll;
  padding: 0px;
}

li {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 37px;
  background-color: #EAEAEA;
}

li:nth-child(even) {
  background-color: #F5F5F5;
}

.track-list {
  height: 280px;
}

.player {
  width: 700px;
  height: 50px;
  background-color: #FFFFFF;
  align-items: center;
}

::-webkit-media-controls-panel {
  background-color: #FFFFFF;
  height: 50px;
  width: 700px;
}
