div {
      box-sizing: border-box;
      width: 380px;
      border-bottom: 2px solid black;
      margin: 10px 30px;
}

.duck-left img{
      float: left;
      margin-right: 10px;
}

.duck-right img{
      float: right;
      margin-left: 10px;
}

p {
      text-align: justify;
}
