body {
        margin: 0px;
        min-height: 100%;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: helvetica;
}

/* Sidebar! */

.main-menu {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        width: 175px;
        height: 100%;
        background-color: #f6f6f6;
        padding: 20px;
}


/* Main Box! */

.main-box {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
}

/* Top-Header! */

.page-navigation {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90px;
        padding: 10px 20px 0px 0px;
        background-color: #f6f6f6;
        background: linear-gradient(to top, #f6f6f6 60%, #fff);
}

.contact-nav ul {
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
        height: 45px;
        margin: 0px;
}

.p-edit-nav {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        height: 45px;
        width: 100%;
        margin: 10px 0px 0px 0px;
}

.article-nav {
        display: flex;
        margin:0px;
}

.read-nav {
        display: flex;
        margin: 0px;
  }

/* Main Section! */

.main-content {
        box-sizing: border-box;
        flex-shrink: 1;
        display: block;
        width: 100%;
        height: 100%;
        padding: 30px;
        background-color: #fff;
        border-left: 1px solid #bed2dd;
        border-top: 1px solid #bed2dd;
        border-bottom: 1px solid #bed2dd;
        font-size: 14px;
        line-height: 1.5;
}

.personal-data {
        width: 270px;
        height: 540px;
        background-color: #f9f9f9;
        border: 1px solid #bed2dd;
        float: right;
        text-align: center;
        margin: 0px 0px 10px 10px;
}

/* Footer */

.page-info {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 180px;
        padding: 20px 20px 0px 20px;
        background-color: #f6f6f6;
}

h1 {
        padding: 0px;
        margin: 0px;
        width: 100%;
        font-weight: normal;
        font-family: serif;
        font-size: 32px;
        border-bottom: 1px solid #bed2dd;
}

h3 {
        margin: 3px 0px 3px 0px;
}

ul {
        list-style: none;
        padding: 0px;
        font-size: 12px;
        line-height: 1.5;
}

dl{
        font-size: 12px;
        margin: 5px;
}

dt{
        float: left;
        font-weight: bold;
        width: 80px;
        text-align: left;
}

dd {
        
}

a {
        text-decoration: none;
        color: #3269ac;
        padding: 0px 5px;
}

article {
        margin: 14px 0px 14px 0px;
}

p {
        margin: 0px;
}
