html {
      background-color: white;
}
body {
      box-sizing: border-box;
      width: 820px;
      height: 1000px;
      padding: 50px 100px;
      font-family: 'Montserrat', sans-serif;
      background-color: #dcd6cd;
      color: #4a4261;
}

h1 {
      font-weight: lighter;
      font-size: 20px;
      border-radius: 3px;
}

h2 {
      font-weight: lighter;
      font-size: 16px;
      color: white;
      background-color: #938c97;
      padding: 10px;
      border-radius: 3px;
}

label {
      font-size: 14px;
      font-weight: bold;
      display: block;
      padding: 10px 0px;
}

h3 {
      margin: 0px;
      font-size: 14;
      font-weight: bold;
      padding: 10px 0px;
}

h4 {
      margin: 0px;
      font-size: 14;
      font-weight: 100;
}

input {
      box-sizing: border-box;
      padding: 10px 0px;
      border-radius: 3px;

}

.records {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
}

.personal-records {
      box-sizing: border-box;
      flex-basis: 300px;
}

.contact-records {
      box-sizing: border-box;
      flex-basis: 300px;
      flex-direction: column;
}

input[id="name"] {
      display: block;
      width: 300px;
}

.column {
      box-sizing: border-box;
      flex-basis: 300px;
      display: flex;
      justify-content: space-between;
}

.column1 {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
}

.column2 {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

}

label[for="date"] {
      flex: 1;
}

.gender {
      flex: 1;
      display: block;
}

.wich-brand {
      flex: 1;
}

.brand {
      display: block;
      flex: 1;
}

input[type="radio"], input[type="checkbox"] {
      flex: 1;
}

.column label, .accept label {
      display: inline;
}

.contact-records input {
      display: block;
      width: 300px;
}

.button {
      display: flex;
      justify-content: space-between;
}
